<div class="container-fluid w-100 d-flex flex-column align-items-center mt-5">
<h2 class="my-3">Update Alert Details</h2>
<%= form_with model: @alert do |form| %>
  <div class=" mb-3 w-100">
  <%= form.text_field :name, placeholder: "Enter the Type", class:"form-control" %>
</div>
<div class=" mb-3 w-100">
  <%= form.text_field :tag, placeholder: "Enter the tag", class:"form-control" %>
</div>
<div class=" mb-3 w-100">
  <%= form.text_field :description, placeholder: "Enter the Description", class:"form-control" %>
</div>
<div class=" mb-3 w-100">
  <%= form.text_field :origin, placeholder: "Enter the origin", class:"form-control" %>
</div>
  <%= form.submit 'Update Alert', class: "btn btn-success py-2 px-5 text-white fs-5" %>
<% end %>
</div>
